.joinUsVoucherEmailTwo{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    padding-bottom: 50px;
}
.subscribeNewsLetterTwo{
    justify-self: center;
    align-self: center;
    
    justify-content: center;
    
    width: 700px;
}
.joinUsTenTwo{
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.joinUsTenTwo h5 {
    margin-bottom: 0px;
    font-size: 1.6rem;
}

.formVoucherTwo{
    width: 100%;
}

#emailInputTwo{
    border: 3px solid black;
    height: 30px;
    width: 100%;
    border-radius: 0px;
}

#emailLabelTwo{
    font-weight: 700;
}

.buttonInputTwo button {
    background-color: black;
    border: 0px;
    color: white;
    font-weight: 500;
    width: 30%;
    font-size: 1rem;
    cursor: pointer;
}

.buttonInputTwo{
    display: flex;
}


@media (min-width:1541px){

}
@media (min-width:1150px) and (max-width:1540px){
    .joinUsVoucherEmailTwo{
        grid-row-start: 3;
        justify-self: center;
        align-self: center;
        padding-bottom: 50px;
        
    }
    
}

@media (min-width:830px) and  (max-width:1149px){
    .subscribeNewsLetterTwo{
        justify-self: center;
        align-self: center;
        
        justify-content: center;
        
        width: 700px;
    }

   
    
}
@media (min-width:701px) and (max-width:829px){
    .joinUsVoucherEmailTwo{
        grid-row-start: 3;
        justify-self: center;
        align-self: center;
        padding-bottom: 50px;
        
    }
    .joinUsTenTwo h5 {
        margin-bottom: 0px;
        font-size: 1.2rem;
    }

    .joinUsTenTwo p{
        margin-bottom: 0px;
        font-size: 0.8rem;
    }
    .subscribeNewsLetterTwo{
        justify-self: center;
        align-self: center;
        
        justify-content: center;
        
        width: 500px;
    }
}

@media (min-width:530px) and (max-width:700px){
    .joinUsVoucherEmailTwo{
        grid-row-start: 3;
        justify-self: center;
        align-self: center;
        padding-bottom: 50px;
    }
    .joinUsTenTwo h5 {
        margin-bottom: 0px;
        font-size: 1.2rem;
    }

    .joinUsTenTwo p{
        margin-bottom: 0px;
        font-size: 0.8rem;
    }
    .subscribeNewsLetterTwo{
        justify-self: center;
        align-self: center;
        
        justify-content: center;
        
        width: 500px;
    }
    .recentlyViewedHeading {
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        opacity: 0.9;
        margin-top: 0px;
        margin-bottom: 10px;
    }
   
}

@media (min-width:320px) and (max-width:529px){

    .joinUsVoucherEmailTwo{
        grid-row-start: 3;
        justify-self: center;
        align-self: center;
        padding-bottom: 50px;
    }
    .joinUsTenTwo h5 {
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .joinUsTenTwo p{
        margin-bottom: 0px;
        font-size: 0.52rem;
    }
    #emailLabelTwo{
        font-size: 0.7rem;
    }
    .subscribeNewsLetterTwo{
        justify-self: center;
        align-self: center;
        
        justify-content: center;
            
        width: 300px;
    }
    
    #emailInputTwo{
        height: 20px;
    }

    .buttonInputTwo button{
        font-size: 0.8rem;
    }

    #emailInputTwo {
        border: 2px solid black;
        height: 30px;
        width: 100%;
        border-radius: 0px;
    }
   
    


}