.contactOuter{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactForm{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:1fr 1fr 1fr 2fr 1fr 1fr;
    grid-row-gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    
}

.firstNameAndSurnameTwo{
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    
}

#firstNameTwo{
    border: solid 2px black;
    width: 100%;
    border-radius: 0px;
    outline: none;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
    
    
}


#surnameTwo{
    border: solid 2px black;
    width: 100%;
    border-radius: 0px;
    outline: none;
    height: 50px;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    align-self: center;
    Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
    
}


#emailTwo{
  
    border: solid 2px black;
    
    border-radius: 0px;
    outline: none;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
    
    
}



#numberTwo{
    border: solid 2px black;
    border-radius: 0px;
    outline: none;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
    
}

#messageTwo{
    border: solid 2px black;
    border-radius: 0px;
    outline: none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
    
}

#sendMessage{
    border: 0px;
    border-radius: 0px;
    outline: none;
    height: 60px;
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 600;
    padding-left: 20px;
    
    
}

.headingContactAndSpan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headingContact{
    margin-bottom: 0px;
}
.contactSpan{

    height: 2px;
    width: 160px;
    background-color: black;
}

#checkoutTwo::placeholder,#messageTwo::placeholder,#numberTwo::placeholder,#addressTwo::placeholder,#emailTwo::placeholder,#surnameTwo::placeholder,#firstNameTwo::placeholder{
    Font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    
}

.total{
    display: flex;
    justify-content: center;
}

.totalHeading{
    font-weight: 500;
    font-size: 1.8rem;
}

@media(min-width:320px) and (max-width:530px){
    #sendMessage{
        border: 0px;
        border-radius: 0px;
        outline: none;
        height: 50px;
        width: 200px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        justify-self: center;
        background-color: black;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 600;
        padding-left: 20px;
        
        
    }
}