.successDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 105px;
    margin-bottom: 37px;
    
    
}

.successTitle{
    font-size: 3rem;
    margin-top: 0px;
    font-weight: 500;
}