.menuDivActive{
    top: 64px;
    left: 0%;
    background-color: white;
    border-right: 2px solid rgb(226, 226, 226);
    width: 250px;
    height: 2080px;    
    position:fixed;
    padding:0;
    margin:0;
    transition: .3s ease;
    z-index: -1;
}

.menuDivDeactive{
    position: absolute;
    top: 64px;    
    left: 0%;
    background-color: white;
    border-right: 2px solid rgb(226, 226, 226);
    width: 250px;
    height: 100%;    
    position:fixed;
    padding:0;
    margin:0;
    transition: .3s ease;
    translate: -100%;
    z-index: -1;
}

.shopMen,.shopWomen{
    margin-left: 0px;
    border-bottom: 2px solid rgb(226, 226, 226);
    width: 100%;
}

.shopMen h2{
    margin-left: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
}
.shopWomen h2{
    margin-left: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
}

.shopMen h3{
    margin-left: 15px;
    font-weight: 500;
}
.shopWomen h3{
    margin-left: 15px;
    font-weight: 500;
}


 .menuDivActive h3,.menuDivDeactive h4,.groupTopsOneActive h4,.groupTopsOneXDeactive h4,.groupBottomsOneActive h4,.groupBottomsOneXDeactive h4,.groupTopsTwoActive h4,.groupTopsTwoDeactive h4,.groupBottomsTwoActive h4,.groupBottomsTwoDeactive h4{ 
    cursor: pointer;
 }
.topsOneXDeactive,.groupTopsOneXDeactive,.groupBottomsOneXDeactive,.topsTwoDeactive,.groupTopsTwoDeactive,.groupBottomsTwoDeactive{
    display: none;
    margin-left: 20px;
}

.shopMenHeading{
    cursor: pointer;
}
.groupOfTops{
    
}

.TShirtDeactive,.hoodiesDeactive,.sweatshirtDeactive,.jacketsDeactive,.shortsDeactive,.jeansDeactive,.dressDeactive,.trackDeactive,.blouseDeactive,.sweatersDeactive,.BodysuitsDeactive,.jacketsTwoDeactive,.jeansTwoDeactive,.trouserDeactive,.shortsDeactive,.skirtsDeactive,.teeesDeactive,.shoesOneDeactive,.accessoryOneDeactive,.shoesDeactive,.accessoryDeactive{
    opacity: 0.5;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
}
    


.subHeading{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    justify-content: center;
    width: 100%;
    
}

.TShirtActive,.hoodiesActive,.sweatshirtActive,.jacketsActive,.shortsActive,.jeansActive,.dressActive,.trackActive,.blouseActive,.sweatersActive,.BodysuitsActive,.jacketsTwoActive,.jeansTwoActive,.trouserActive,.shortsActive,.skirtsActive,.teesActive,.sweatshirtsActive,.shoesOneActive,.accessoryOneActive,.shoesActive,.accessoryActive{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-weight: 500;
}




.spanDeactive{
    height: 1px;
    width: 95%;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(0);
    transform-origin: 0 0;
    margin-left: 30px;
}

.plusOneDeactive{
    height:18px ;
    width: 18px;
}

.tops{
    margin-top: 0px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;

   
}

.tops h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.minusAndPlus{
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.plusOneActive{
    height: 13px;
    width: 13px;
}

.minusOneActive{
    height: 13px;
    width: 13px;
}

.plusOneDeactive{
    height: 13px;
    width: 13px;
    display: none;
}

.minusOneDeactive{
    height: 13px;
    width: 13px;
    display: none;
}



.tshirtDiv .spanActive{
    height: 1px;
    width: 60px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.hoodiesDiv .spanActive{
    height: 1px;
    width: 65px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.sweatShirtDiv .spanActive{
    height: 1px;
    width: 88px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.jacketDiv .spanActive{
    height: 1px;
    width: 55px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.accerssoriesDiv .spanActive{
    height: 1px;
    width: 90px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.dressPantsDiv .spanActive{
    height: 1px;
    width: 90px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.trackPantsDiv .spanActive{
    height: 1px;
    width: 85px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.tshirtsAndTeesDiv .spanActive{
    height: 1px;
    width: 115px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.blouseDiv .spanActive{
    height: 1px;
    width: 60px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.sweaterDiv .spanActive{
    height: 1px;
    width: 165px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.bodySuitDiv .spanActive{
    height: 1px;
    width: 75px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.jacketsDiv .spanActive{
    height: 1px;
    width: 55px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.accessoryDiv .spanActive{
    height: 1px;
    width: 90px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.jeansDiv .spanActive{
    height: 1px;
    width: 45px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.pantsAndTrouserDiv .spanActive{
    height: 1px;
    width: 125px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.shortsDiv .spanActive{
    height: 1px;
    width: 55px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.skirtsDiv .spanActive{
    height: 1px;
    width: 45px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}

.shoesDiv .spanActive{
    height: 1px;
    width: 48px;
    border-radius: 50px;
    background-color: black;
    margin-top: 0px;
    position: absolute;
    bottom:25%;
    transition: .4s ease;
    transform: scaleX(1);
    transform-origin: 0 0;
    margin-left: 30px;
}